body {
  color: #162b29;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #f6f6f6;
  letter-spacing: 0.05em;
}
body.lock {
  overflow: hidden;
}
.wrap {
  height: 100%;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: $maxw + px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: $md4) {
    padding: 0 10px;
  }
}
// <общие стили>
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  @include adaptivy-font(32, 26);
  text-transform: uppercase;
}
.button {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #eb916b;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  @media (min-width: 991.98px) {
    &:hover {
      background-color: #e76f3d;
    }
  }
  &_o {
    background-color: #162b29;
    color: #ffffff;
    @media (min-width: 991.98px) {
      &:hover {
        background-color: transparent;
        color: #162b29;
        border: 2px solid #162b29;
      }
    }
  }
}
.input {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #162b29;
  background-color: rgba(229, 235, 234, 0.8);
  height: 35px;
  border-bottom: 2px solid #162b29;
  padding: 0 0 0 10px;
  &_o {
    border-bottom: 2px solid #e76f3d;
    background-color: #f4e2da;
  }
}
.content {

  flex: 1 0 auto;
}
