.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #f6f6f6;
  z-index: 100;
  
  // .header__container

  &__container {
  }

  // .header__block

  &__block {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
  }

  // .header__logo

  &__logo {
  }
  &__logo-link {
    font-weight: 600;
    color: #162b29;
  }

  // .header__menu

  &__menu {
  }

  // .header__list

  &__list {
    display: flex;
    align-items: center;
    cursor: pointer;
    > li {
      position: relative;
      margin: 0 25px 0 0;
      p{
        display: flex;
        align-items: center;
        svg{
          margin: 0 0 0 5px;
        }
      }
      &:last-child {
        margin: 0 0 0 60px;
      }
    }
  }

  // .header__link

  &__link {
    font-weight: 600;
    color: rgba(23, 44, 42, 0.8);
    text-transform: uppercase;
    svg {
      fill: #162B29;
    }
    @media (min-width: 991.98px) {
      &:hover {
        color: #CD3232;
        svg{fill: #CD3232;}
      }
    }
  }

  // .header__burger

  &__burger {
    display: none;
  }
}
.header-submenu {
  // .header-submenu__list

  &__list {
    min-width: 240px;
    position: absolute;
    left: -20px;
    top: 120%;
    z-index: 54;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: 0.5s ease-in-out;
    padding: 10px 20px;
    background-color: #f6f6f6;
    &_main {
      background-color: rgba(246, 246, 246, 0);
    }
    > li {
      padding: 10px 0;
    }
  }

  // .header-submenu__link

  &__link {
    position: relative;
    color: #162b29;
    text-transform: uppercase;
    @media (min-width: 991.98px) {
      &:hover {
        color: #CD3232;
      }
    }
  }
}
.header__list > li:hover .header-submenu__list {
  opacity: 1;
  transform: scaleY(1);
}

@media (max-width: 767.98px) {
  .header__burger {
    display: block;
    z-index: 54;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #162b29;
  }
  .header__burger._active::before,
  .header__burger._active::after {
    background-color: #162b29;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(246, 246, 246, 0.9);
    transition: left 0.3s ease 0s;
    padding: 70px 20px;
    overflow: auto;
    @media (max-width: 479.98px) {
      padding: 70px 10px;
    }
  }
  .header__menu._active {
    left: 0;
  }
  .header__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    > li {
      margin: 0 0 20px 0;
      &:last-child {
        margin: 0;
      }
    }
  }
  .header__logo {
    z-index: 5;
    position: relative;
  }
}
